# Pandas Package

* Python library for data analysis
* High-performance containers for data analysis
* Data structures with a lot of functionality
* Meaningful labels
* handle data in a way suited to analysis
similar to R

#### Instalation
pip install pandas

In [2]:
import pandas as pd

## 1. Series

In [2]:
# to_dict()

In [1]:
# define with dictonary

## 2. DataFrame

In [5]:
# input excel file :"dataset.xlsx"
# try header, index_col, names and nrows

In [7]:
#shape

In [8]:
#columns

In [9]:
#index

In [6]:
#head()

In [ ]:
#tail()

In [ ]:
#extract a small part as df2

In [ ]:
#index

In [10]:
#col name

In [ ]:
#index.name

In [11]:
#define df_class with dictionary and assign student Id as index
d={"Student":["a","b","c","d","e"],
    "Math_grade":[13,10,18,20,7],
    "Physics_grade":[2,12,20,15,10]}
studentId=[1001,1002,1003,1004,1005]

In [16]:
#sum()

In [15]:
#sum axis 1

In [14]:
# min and min axis =1

In [13]:
#idxmin axis 0 and 1

In [ ]:
#describe()

#### Recalling and Slicing

In [18]:
#recall "City" col and print type

In [19]:
#"City" col and rows 3 to 5

In [59]:
# df["City",3:5] ==> error

In [20]:
# add "new" col with values [11,23,12,65,4]

In [21]:
# Conditional recalling City : CHICAGO and StateCode : IL   head(10)

In [22]:
#iloc row3 1:4 and cols 3:6

In [24]:
# loc rows ["a","e"] and cols ["col1","col2"] from df2

In [23]:
#add rows "f" with values [1,2,3,4] and "g" with values 1

In [ ]:
df2.info()

In [25]:
# delete new column from df2

In [107]:
# export csv or excel file from df2

In [26]:
# sort_values df_class by "Math_grade" ascending

## 3. Excercises

1. Import the "dataset.xlsx" file and print all "CHICAGO" city's schools

2. From given data set print last five rows with iloc method

3. print the BOSTON City's "SchoolName" and their "Address"

4. Count total schools per city

hint : df["colName"].value_counts()

5. import the "Automobile_data.csv" file into df_cars variable and assign the first row in the csv file as header and the first column as index_col. Then, print the first 5 rows of df_cars

6. sort the df_class dataframe by the price column

7. Concatenate two data frames using following conditions

Hint: pd.concat([dataframe1,dataframe2])

In [182]:
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 
              'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 
                'Price': [29995, 23600, 61500 , 58900]}

8. Merge two data frames using following condition

hint: pd.merge(dataframe1,dataframe2,on="colName")

In [29]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'],
             'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'],
                  'horsepower': [141, 80, 182 , 160]}