# 1. Introduction To Data Science

<img src="images/1.png" >

<img src="images/2.png" >

<img src="images/3.png" >

<img src="images/4.png" >

<img src="images/4.png" >

<img src="images/5.png" >

Numpy and Pandas both are common among data scientists

# 2. Numpy Package

* multidimentional arrays and matrices
* mathematical functions that base python lacks

 #### Installation :
   run "**pip install numpy**" in Command Line Or Terminal

In [1]:
import numpy as np

## 2.1 Numpy Array Methods

np.array()

np.append()

np.shape()

np.insert()

np.delete()

np.mean()

np.median()

np.max()

np.min()

np.sum()

np.exp()

np.sqrt()

np.multiply(q,b) => a*b

np.dot(a,b)

np.cumsum()

np.std()

np.log()


...

In [138]:
my_list=[1,2,3,4,5]
my_array=np.array(my_list)

my_array=np.append(my_array,34)
print("append: ",my_array)
print("shape: ",np.shape(my_array))


# my_array=np.mean(my_array)

# my_array=np.median(my_array)
# my_array.corrcoef()
# np.std(my_array)
# np.append()

append:  [ 1  2  3  4  5 34]
shape:  (6,)
my_list:  [1, 2, 3, 4, 5, 34]
 [66  1  2  3  4  5 34]
insert : [66 54  1  2  3  4  5 34]
delete:  [ 1  2  3  4  5 34]
mean:  8.166666666666666
median:  3.5

In [ ]:
#np.insert
my_array=np.insert(my_array, 1, 54)
print("insert :",my_array)

In [ ]:
#np.delete
my_array=np.delete(my_array,[1,0])
print("delete: ",my_array)

In [ ]:
#np.mean
print("mean: ",np.mean(my_array))

In [ ]:
#np.median
print("median: ",np.median(my_array))

## 2.2 Numpy Array Indexing

In [144]:
my_list=[1,2,3,4,5]
my_array=np.array(my_list)
print(my_array[0])

[3]

In [ ]:
print(my_array[(my_array>2) & (my_array<4)])

In [ ]:
print(my_array[[1,3]])

In [ ]:
print(my_array[1:4])

In [ ]:
print(my_array[:4])

In [ ]:
print(my_array[3:])

In [ ]:
print(my_array[::-1])

In [145]:
print(my_array[::2])

[1 3 5]

## 2.3 Multidimentional array:

In [136]:
arr1=np.array([[1,2,3],[1,2,34]])

In [ ]:
arr2=np.ndarray((2,))

In [ ]:
arr3=np.zeros((2,5))

In [ ]:
arr4=np.ones((2,5))

In [ ]:
arr6=np.random.random((2,3))

In [ ]:
arr7=np.arange(0,8,2)

In [ ]:
arr5=np.eye(5)

In [ ]:
#shape
arr6.shape[0]
arr6.shape[1]

## 2.4 Indexing Multidimentional Arrays

In [141]:
print("arr1[1,2]: ",arr1[1,2])

arr1[1,2]:  34
arr1[:,2]:  [ 3 34]

In [58]:
print("arr1[:,2]: ",arr1[:,2])

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

** Question 1**: 

create a 2-dimentional random array in shape (4,5) and reverse the items in the second elemnt in the first axis(dimention) which are inside the 3rd and 4th items in the second axis.

In [160]:
np.random.seed(0)
x1=np.random.random((4,5))
x1

array([[0.5488135 , 0.71518937, 0.60276338, 0.54488318, 0.4236548 ],
       [0.64589411, 0.43758721, 0.891773  , 0.96366276, 0.38344152],
       [0.79172504, 0.52889492, 0.56804456, 0.92559664, 0.07103606],
       [0.0871293 , 0.0202184 , 0.83261985, 0.77815675, 0.87001215]])

In [158]:
x1[2,[3,4]]=x1[2,[3,4]][::-1]
x1

array([[0.5488135 , 0.71518937, 0.60276338, 0.54488318, 0.4236548 ],
       [0.64589411, 0.43758721, 0.891773  , 0.96366276, 0.38344152],
       [0.79172504, 0.52889492, 0.56804456, 0.07103606, 0.92559664],
       [0.0871293 , 0.0202184 , 0.83261985, 0.77815675, 0.87001215]])

**Question 2**: 

create an array with the same shape as array x2, and fill it with the values of array x1 subtracetd by the mean of its values and divided to the standard deviation.

In [167]:
x2=np.array([[1,4,3,2,3,0],[23,59,0,-12,4,0]])

In [169]:
x2=(x2-np.mean(x2))/np.std(x2)
x2

array([[-0.36193893, -0.18820824, -0.24611847, -0.3040287 , -0.24611847,
        -0.41984916],
       [ 0.91208611,  2.99685436, -0.41984916, -1.11477191, -0.18820824,
        -0.41984916]])

## 2.5 Reshape Array

In [147]:
arr4=np.ones((2,5))

In [ ]:
arr4.reshape((5,2))

In [ ]:
arr4.transpose()

## 2.6 Input and Output Variables

In [143]:
np.save("array4",arr4)
arr4=7
arr4

7

In [61]:
arr4=np.load("array4.npy")
arr4

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

**Question 3**:

load the q3 array from "q3.npy" and implement Dot product of its transposed array with the array x3.

In [81]:
x3=np.ones((3,4))

In [82]:
q3=np.load("q3.npy")
np.dot(q3.reshape((4,3)),x3)

array([[-1.20362692, -1.20362692, -1.20362692, -1.20362692],
       [-0.64533283, -0.64533283, -0.64533283, -0.64533283],
       [-0.93525646, -0.93525646, -0.93525646, -0.93525646],
       [-0.59120958, -0.59120958, -0.59120958, -0.59120958]])

## 2.7 Inspecting Array

In [146]:
a=np.array([[100,3],[22,1000]])
a

a.shape:  (2, 2)
len(a):  2
a.size:  4
a.dtype:  int64

array([[b'100', b'3'],
       [b'22', b'1000']], dtype='|S21')

In [ ]:
print("a.shape: ",a.shape)

In [ ]:
print("len(a): ",len(a))

In [ ]:
print("a.size: ",a.size)

In [ ]:
print("a.dtype: ",a.dtype)

In [ ]:
a=a.astype(np.string_)
a

## 2.8 Sorting

In [154]:
# b=np.array([1,200,20])
b=np.array([[1,200,20],[20,100,12]])
print(np.sort(b,axis=0))

[[  1 100  12]
 [ 20 200  20]]

In [ ]:
print(np.sort(b,axis=1))

In [ ]:
print(np.sort(b,axis=0)[::-1])

## 2.9  Combining Arrays 

note: arrays should be in same dims.

In [14]:
c=np.array([1,4,2])
d=np.array([50,40,20])
np.concatenate((c,d))

array([ 1,  4,  2, 50, 40, 20])

In [21]:
e=np.array([[1,4],[2,6]])
f=np.array([[50,40],[1000,2000]])
np.concatenate((e,f),axis=1)   # axis=0 => np.vstack((e,f)) AND axis=1 => np.hstack((e,f))

array([[   1,    4,   50,   40],
       [   2,    6, 1000, 2000]])

In [ ]:
np.vstack((e,f))

In [ ]:
np.hstack((e,f))

**Question 4**: 

look in the items inside the array x4 and replace the values more than 10 with -100 value

In [96]:
x4=np.array([range(9,12),[13,8,0]])

In [95]:
x4[x4>10]=-100
for i in range(x4.shape[0]):
    for j in range(x4.shape[1]):
        if x4[i,j]>10:
            x4[i,j]=-100
x4

array([[   9,   10, -100],
       [-100,    8,    0]])

**Question 5 **:
 
 Delete the elements in the array x5 which are larger than 10 and smaller than 20.
 
 Hint: use np.where(consition,listOfIndex)

In [133]:
x5=np.array([1,3,13,20,8,0,12,23,10,2,3])

In [170]:
l=np.where((x5>=10) &( x5<20))
x5=np.delete(x5,l)
x5

array([ 1,  3, 20,  8,  0, 23,  2,  3])

**Qestion 6 **:

load the q3 variable form "q3.npy" and create a same-shaped array with np.random.randn(x,y); Afterwards, combine these arrays in both vertical and horizontal direction in a sorted way (axis=0 or 1).

In [ ]:
np.random.seed(0)

In [177]:
q3=np.load("q3.npy")
x6=np.random.randn(q3.shape[0],q3.shape[1])
np.vstack((q3,x6))
np.sort(np.hstack((q3,x6)),axis=0)

array([[-0.93168824, -0.74482859, -0.10301861, -1.02465373, -1.07075262,
         0.97663904, -0.40317695,  0.40198936],
       [-0.49871331, -0.5145974 ,  0.56573201, -0.74225427,  0.01050002,
         1.05445173,  0.12691209,  0.70657317],
       [-0.47633474, -0.16892007,  0.66564209,  0.59820906,  0.20827498,
         1.78587049,  0.3563664 ,  1.22244507]])

**Question 7**:

create 3-dimentional (2,3,2) array with np.random.randn and sort it along its third axis.

In [185]:
np.sort(np.random.randn(2,3,2),axis=2)

array([[[-1.60205766,  0.62523145],
        [-1.10438334,  0.05216508],
        [-0.739563  ,  1.5430146 ]],

       [[-1.29285691,  0.26705087],
        [-1.1680935 , -0.03928282],
        [-0.17154633,  0.52327666]]])

# Pandas Package

* Python library for data analysis
* High-performance containers for data analysis
* Data structures with a lot of functionality
* Meaningful labels
* handle data in a way suited to analysis
similar to R

pip install pandas

In [5]:
import pandas as pd

In [9]:
df=pd.read_excel("dataset.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6962 entries, 0 to 6961
Data columns (total 10 columns):
ID            6962 non-null int64
SchoolCode    6962 non-null object
SchoolName    6962 non-null object
Address       6962 non-null object
City          6962 non-null object
StateCode     6962 non-null object
ZipCode       6962 non-null int64
Province      111 non-null object
Country       402 non-null object
PostalCode    229 non-null object
dtypes: int64(2), object(8)
memory usage: 544.0+ KB

In [10]:
df.shape

(6962, 10)

In [11]:
df.columns

Index(['ID', 'SchoolCode', 'SchoolName', 'Address', 'City', 'StateCode',
       'ZipCode', 'Province', 'Country', 'PostalCode'],
      dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=6962, step=1)

In [17]:
df.head(2)

,ID,SchoolCode,SchoolName,Address,City,StateCode,ZipCode,Province,Country,PostalCode
0,25969,B04724,WIDENER UNIV SCHOOL OF LAW - DE,4601 CONCORD PIKE/PO BOX 7474,WILMINGTON,DE,19803,NaN,NaN,NaN
1,25970,B06171,CENTER FOR ADVANCED STUDIES OF PUER,BOX S-4467,SAN JUAN,PR,902,NaN,NaN,NaN

In [18]:
df.tail(4)

,ID,SchoolCode,SchoolName,Address,City,StateCode,ZipCode,Province,Country,PostalCode
6958,32927,042496,WESTCLIFF UNIVERSITY,4199 CAMPUS DRIVE #650,IRVINE,CA,92612,NaN,NaN,NaN
6959,32928,042534,CLOVIS COMMUNITY COLLEGE,10309 NORTH WILLOW AVENUE,FRESNO,CA,93730,NaN,NaN,NaN
6960,32929,042577,TOTALLY COSMO SCHOOL OF MODERN COSMETOLO,110 NORTH BROADWAY,BROKEN BOW,OK,74728,NaN,NaN,NaN
6961,32930,042488,WONGU UNIVERSITY OF ORIENTAL MEDICINE,8620 SOUTH EASTERN AVENUE,LAS VEGAS,NV,89123,NaN,NaN,NaN

## Slicing

In [21]:
df.iloc[:5,1:4]

,SchoolCode,SchoolName,Address
0,B04724,WIDENER UNIV SCHOOL OF LAW - DE,4601 CONCORD PIKE/PO BOX 7474
1,B06171,CENTER FOR ADVANCED STUDIES OF PUER,BOX S-4467
2,B06511,PENTECOSTAL THEOLOGICAL SEMINARY,PO BOX 3330
3,B07022,THE CHICAGO SCHOOL OF PROF PSYCHOLOGY,325 NORTH WELLS STREET
4,B07624,NATIONAL COLLEGE OF NATURAL MEDICINE,049 SW PORTER

In [22]:
df.iloc[:5,[1,3]]

  SchoolCode                        Address
0     B04724  4601 CONCORD PIKE/PO BOX 7474
1     B06171                     BOX S-4467
2     B06511                    PO BOX 3330
3     B07022         325 NORTH WELLS STREET
4     B07624                  049 SW PORTER

In [24]:
df.loc[:5,["SchoolCode","Address"]]

  SchoolCode                        Address
0     B04724  4601 CONCORD PIKE/PO BOX 7474
1     B06171                     BOX S-4467
2     B06511                    PO BOX 3330
3     B07022         325 NORTH WELLS STREET
4     B07624                  049 SW PORTER
5     B07625     10525 SE CHERRY BLOSSOM DR

In [28]:
df["new"]=1000
df.tail()

,ID,SchoolCode,SchoolName,Address,City,StateCode,ZipCode,Province,Country,PostalCode,new
6957,32926,E40436,FLORIDA CAREER COLLEGE - UEI COLLEGE - H,70-A FARM TO MARKET ROAD 1960 WEST,HOUSTON,TX,77090,NaN,NaN,NaN,NaN
6958,32927,042496,WESTCLIFF UNIVERSITY,4199 CAMPUS DRIVE #650,IRVINE,CA,92612,NaN,NaN,NaN,NaN
6959,32928,042534,CLOVIS COMMUNITY COLLEGE,10309 NORTH WILLOW AVENUE,FRESNO,CA,93730,NaN,NaN,NaN,NaN
6960,32929,042577,TOTALLY COSMO SCHOOL OF MODERN COSMETOLO,110 NORTH BROADWAY,BROKEN BOW,OK,74728,NaN,NaN,NaN,NaN
6961,32930,042488,WONGU UNIVERSITY OF ORIENTAL MEDICINE,8620 SOUTH EASTERN AVENUE,LAS VEGAS,NV,89123,NaN,NaN,NaN,NaN

In [29]:
ser=df["ID"]

In [142]:
ser.head()

0    25969
1    25970
2    25971
3    25972
4    25973
Name: ID, dtype: int64

In [143]:
ser.tail()

6957    32926
6958    32927
6959    32928
6960    32929
6961    32930
Name: ID, dtype: int64

In [37]:
ser.values

array([25969, 25970, 25971, ..., 32928, 32929, 32930])

In [39]:
ser.index[2:7]

RangeIndex(start=2, stop=7, step=1)